<a href="https://colab.research.google.com/github/Bobojon-Py-Data-Scientist/Data-scientic/blob/main/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##DataFrame malumotlar tuzilmasi

In [2]:
import pandas as pd

In [3]:
data = {
    'Yil':[2022, 2021, 2020, 2019,2018, 2017,2016, 2015],
    'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.5, 30.9, 30.5],
    'Temp':[1.58, 1.48,1.56, 1.32,1.25,1.47, 1.35,1.22]
}
df= pd.DataFrame(data)

In [5]:
df

    Yil  Aholi soni  Temp
0  2022        33.9  1.58
1  2021        33.5  1.48
2  2020        32.9  1.56
3  2019        32.5  1.32
4  2018        31.9  1.25
5  2017        31.5  1.47
6  2016        30.9  1.35
7  2015        30.5  1.22

In [6]:
df.head()   # boshidagi 5 tasikorsatadi, agar qavsga yozsak oshancha nikorsatadi

    Yil  Aholi soni  Temp
0  2022        33.9  1.58
1  2021        33.5  1.48
2  2020        32.9  1.56
3  2019        32.5  1.32
4  2018        31.9  1.25

In [8]:
df.head(3)

    Yil  Aholi soni  Temp
0  2022        33.9  1.58
1  2021        33.5  1.48
2  2020        32.9  1.56

In [9]:
df.shape  # hajmini aytadi 8 ta qator 3 ustun

(8, 3)