<a href="https://colab.research.google.com/github/Bobojon-Py-Data-Scientist/Data-scientic/blob/main/DateFrame_Ustunlari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DateFrame ustunlari

In [8]:
import pandas as pd

In [36]:
data = {
    'Yil':[2022, 2021, 2020, 2019,2018, 2017,2016, 2015],
    'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.5, 30.9, 30.5],
    'Temp':[1.58, 1.48,1.56, 1.32,1.25,1.47, 1.35,1.22]
    
}
df= pd.DataFrame(data)

In [10]:
df= pd.DataFrame(data)

In [11]:
df.head(3)

    Yil  Aholi soni  Temp
0  2022        33.9  1.58
1  2021        33.5  1.48
2  2020        32.9  1.56

In [47]:
df= pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni', 'YAIM'])

In [48]:
df

    Yil  Temp  Aholi soni YAIM
0  2022  1.58        33.9  NaN
1  2021  1.48        33.5  NaN
2  2020  1.56        32.9  NaN
3  2019  1.32        32.5  NaN
4  2018  1.25        31.9  NaN
5  2017  1.47        31.5  NaN
6  2016  1.35        30.9  NaN
7  2015  1.22        30.5  NaN

In [52]:
df.YAIM = 0
df

    Yil  Temp  Aholi soni  YAIM
0  2022  1.58        33.9     0
1  2021  1.48        33.5     0
2  2020  1.56        32.9     0
3  2019  1.32        32.5     0
4  2018  1.25        31.9     0
5  2017  1.47        31.5     0
6  2016  1.35        30.9     0
7  2015  1.22        30.5     0

In [53]:
val = pd.Series([1700,1650,1500], index=[0, 7, 2])
df.YAIM= val

In [54]:
df

    Yil  Temp  Aholi soni    YAIM
0  2022  1.58        33.9  1700.0
1  2021  1.48        33.5     NaN
2  2020  1.56        32.9  1500.0
3  2019  1.32        32.5     NaN
4  2018  1.25        31.9     NaN
5  2017  1.47        31.5     NaN
6  2016  1.35        30.9     NaN
7  2015  1.22        30.5  1650.0

In [56]:
df['Aholi soni']   #chaqirib oliw usuli

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.5
6    30.9
7    30.5
Name: Aholi soni, dtype: float64

In [59]:
type('Aholi soni')

str

In [60]:
val = [1700,1650,1500,1400,1350,1200,12500,1000]
df.YAIM = val

In [61]:
df

    Yil  Temp  Aholi soni   YAIM
0  2022  1.58        33.9   1700
1  2021  1.48        33.5   1650
2  2020  1.56        32.9   1500
3  2019  1.32        32.5   1400
4  2018  1.25        31.9   1350
5  2017  1.47        31.5   1200
6  2016  1.35        30.9  12500
7  2015  1.22        30.5   1000

In [62]:
df.Temp  # 2usul chaqirib oliw usuli

0    1.58
1    1.48
2    1.56
3    1.32
4    1.25
5    1.47
6    1.35
7    1.22
Name: Temp, dtype: float64

In [63]:
df['1333+'] = df.YAIM>1333
df

    Yil  Temp  Aholi soni   YAIM  1333+
0  2022  1.58        33.9   1700   True
1  2021  1.48        33.5   1650   True
2  2020  1.56        32.9   1500   True
3  2019  1.32        32.5   1400   True
4  2018  1.25        31.9   1350   True
5  2017  1.47        31.5   1200  False
6  2016  1.35        30.9  12500   True
7  2015  1.22        30.5   1000  False

In [64]:
del df['1333+'] # bu osha ustuni ochirib tawaydi
df

    Yil  Temp  Aholi soni   YAIM
0  2022  1.58        33.9   1700
1  2021  1.48        33.5   1650
2  2020  1.56        32.9   1500
3  2019  1.32        32.5   1400
4  2018  1.25        31.9   1350
5  2017  1.47        31.5   1200
6  2016  1.35        30.9  12500
7  2015  1.22        30.5   1000

In [66]:
df= pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni', 'YAIM'], index=['on bir',12,13,14,15,16,17,18]) #data ga index beriw usuli
df

         Yil  Temp  Aholi soni YAIM
on bir  2022  1.58        33.9  NaN
12      2021  1.48        33.5  NaN
13      2020  1.56        32.9  NaN
14      2019  1.32        32.5  NaN
15      2018  1.25        31.9  NaN
16      2017  1.47        31.5  NaN
17      2016  1.35        30.9  NaN
18      2015  1.22        30.5  NaN

In [67]:
aholi = df['Aholi soni']  # aholi  sonini chaqirib oliw yangi usuli

In [68]:
aholi

on bir    33.9
12        33.5
13        32.9
14        32.5
15        31.9
16        31.5
17        30.9
18        30.5
Name: Aholi soni, dtype: float64

In [69]:
type(aholi)  # series tartibga oxshaydi

pandas.core.series.Series